{% load staticfiles %}
<html>
   <head>
      <title>My study room</title>
      <link rel="stylesheet" href="{%static 'css/blog.css' %}">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" 
      type="text/css">
   </head>
   <body>
      <div class="page-header">
	{% block english_new %}
	{% endblock %}
	{% block russian_new %}
	{% endblock %}
	{% block german_new %}
	{% endblock %}
	{% block biology_new %}
	{% endblock %}
	{% block chemistry_new %}
	{% endblock %}
	<h1><a href="/">My Study Room</a></h1>
       </div>
       {% block welcome %}
       {% endblock %}

       <div class="content container">
         <div class="row">
		<div class="col-md-8">
		 {% block content %}
        	 {% endblock %}
		</div>
         </div>
       </div>
     </body>
     
</html>

