{%load staticfiles%}
<html>
    <head>
	<title>My study room</title>
	<link rel="stylesheet" href="{%static 'css/blog.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" 
	type="text/css">
    </head>
    <body>
       <div class="page-header">
		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		<a href="{% url 'chemistry_new' %}" class="top-menu"><span class="glyphicon glyphicon-tree-conifer"></span></a>
		<a href="{% url 'german_new' %}" class="top-menu"><span class="glyphicon glyphicon-cloud"></span></a>
		<a href="{% url 'russian_new' %}" class="top-menu"><span class="glyphicon glyphicon-ok"></span></a>
		<h1><a href="/">My Study Room</a></h1>
       </div>
	<h4>Welcome to my blog! On this website you can find articles in the field of science and languages or maybe history. I write about everything I'm interested in. I hope you will find my thoughts useful. My main aim with this project is to learn those things I write about. Because as I once heard, you won't really understand anything until you teach it. That's maybe true.  </h4>
       <div class="content container">
         <div class="row">
		<div class="col-md-8">
		 {% block content %}
		 {% endblock %}
		</div>
         </div>
       </div>
     </body>
     
</html>
