<html>
    <head>
        <title>My study room</title>
    </head>
    <body>
        <div>
            <h1><a href="https://masodik.github.io/my-virtual-study">The blog</a></h1>
        </div>


        <div>
           <p>Start to learn!</p>
           <h2>The Biology Section</h2>
           <h3><a href="https://masodik.github.io/my-virtual-study/2020/05/22/The-temporomandibular-joint.html">The articularis temporomandibularis</a></h3>
              <p>The title seems to be a very difficult and incomprehensible one, but i will translate it for you. The articularis means joint in latin. <br />So we are discussing a joint right now.I have already studied the bones of the skull, among them I wrote about the temporal bone and the mandibula. <em>This joint is found where these bones meet.</em> <strong>Hence its name.</strong> 
        </div>

        <div>
  
          <h2>The Language Part</h2>
        </div>

        <div>
            <h3><a href="https://bible.by/">The Russian Bible</a></h3>
            <ul><li><a href="https://bible.by/syn/">The Synodal Translation</a></li>
            <li><a href="https://bible.by/nrt/">The New Russian Translation</a></li>
            <li><a href="https://bible.by/wbtc/">The Modern Translation</a></li></ul>
        </div>
    </body>
</html>

