<html>
    <head>
        <title>My study room</title>
    </head>
    <body>
        <div>
            <h1><a href="https://masodik.github.io/my-virtual-study">My study room</a></h1>
        </div>


        <div>
           <p>Start to learn!</p>
           <h2>Biology Section</h2>
           <h3>Anatomy</h3>
           <h4>The head</h4>
           <h5><a href="https://masodik.github.io/my-virtual-study/2020/05/22/The-temporomandibular-joint.html">The articularis temporomandibularis</a></h5>
              <p>The title seems to be a very difficult and incomprehensible one, but i will translate it for you. The articularis means joint in latin. <br />So we are discussing a joint right now.I have already studied the bones of the skull, among them I wrote about the temporal bone and the mandibula. <em>This joint is found where these bones meet.</em> <strong>Hence its name.</strong>
        </div>

        <div>
          <h2>The Language Corner</h2>
        </div>

        <div>
          <h3>русский язык</h3>
          <h4>Русские переводы Библии</h4>
          <ul><li><a href="https://bible.by/syn/">Синодальный перевод</a></li>
          <li><a href="https://bible.by/nrt/">Новый русский перевод</a></li>
          <li><a href="https://bible.by/wbtc/">Cовременный перевод WBTC</a></li></ul>
         </div>

         <div>
          <h3>Deutsch</h3>
            <h4>Videos auf Deutsch</h4>
             <ul><li><a href="https://www.youtube.com/watch?v=OvtzcveUTY8">MrWissen2Go</a></li>
	     <li><a href="https://www.youtube.com/watch?v=3zvTVVRIBNg">DeutschLera</a></li></ul>
	     <p><a href="https://www.youtube.com/watch?v=jun9hjqCzqE&list=PLr_U4dE6BCICAtEivSt0YKDCBbt4tjVHE">Die Schlacter Audiobibel</a><p>
             <p><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjpuM3owefpAhUAAhAIHS-PAOcQFjABegQIARAB&url=https%3A%2F%2Fwww.schlachterbibel.de%2Fde%2Fbibel%2Fneues_testament%2F&usg=AOvVaw074O-IyPTGBQOZyguhybOd">Der Text der Bibel</a><p>
         </div>

         <div>
          <h3>English</h3>
          <p>Learn the phrases!</p>
         </div>

         <div>
          <h2>What happened? How? And why?</h2>
          <p>Articles about history and about everything I am interested in.</p>
    </body>
</html>


