body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f1f1f1;
	position: relative;
	padding-bottom: 500px;
	min-height: 100vh;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 10px;
	background-color: #313;
	text-align: left;
}


header h1 a {
	color:#fff;
	font-size: 30px;
	margin-bottom: 30px;
}

sidenav {
	height: 100%;
	width: 100px;
	position: fixed;
	top: 100px;
	bottom: 300px;
	background-color:#387;
	overflow-x: :hidden;
	padding-top: 25px;

}

sidenav a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	display: block;

}

sidenav a:hover{
	color: #f1f1f1;
}

main {
	margin-left:160px;
	padding: 0px 10px 0px 30px;
	background-color: #fff;
	border-radius: 50px;
}

main:last-child {
	margin-bottom: 0;
}

main a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: #478547;
	font-size: 30px;
	display: block;
}

 main h2 {
	 color: #313;
	 font-size: 45px;
 }

 main p{
	 margin-top: 16px;
	 line-height: 24px;
 }


footer {
	text-align: center;
	background-color: #313;
	color: #fff;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.top-menu{
	float: right;
	font-size: 15pt;
  margin-right: 20px;
	top: -20px;
}
